@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 240 10% 3.9%;

    --card: 210 17% 98%;
    --card-foreground: 240 10% 3.9%;

    --popover: 210 17% 98%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 140 60% 25%;
    --primary-foreground: 210 40% 98%;

    --secondary: 125 34% 74%;
    --secondary-foreground: 240 10% 3.9%;

    --muted: 210 17% 92%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 45 100% 51%;
    --accent-foreground: 240 10% 3.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 17% 90%;
    --input: 210 17% 90%;
    --ring: 140 60% 35%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 150 10% 10%;
    --foreground: 210 40% 98%;

    --card: 150 10% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 150 10% 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 125 34% 74%;
    --primary-foreground: 150 10% 10%;

    --secondary: 140 60% 15%;
    --secondary-foreground: 210 40% 98%;

    --muted: 140 60% 15%;
    --muted-foreground: 210 40% 91%;

    --accent: 45 100% 51%;
    --accent-foreground: 240 10% 3.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    
    --border: 140 60% 15%;
    --input: 140 60% 15%;
    --ring: 125 34% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.services-section-background {
  background: radial-gradient(circle at center, hsl(140 60% 15%) 0%, hsl(140 60% 15% / 0.9) 50%, transparent 70%), hsl(var(--background));
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 40s linear infinite;
}

